@import "src/assets/style/transition.scss";
@import "src/assets/style/variable.scss";
@import "src/assets/style/vant.scss";
@import "src/assets/style/theme.scss";

body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  @include background_color('background_color1')
  //filter:progid:DXImageTransform.Microsoft.BasicImage(graysale=1);
  //-webkit-filter: grayscale(100%);
}

// markdown字体设置样式适配
.github-markdown-body {
  font-size: unset !important;
  padding-left: 0 !important;
  padding-right: 0 !important;

  blockquote {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .extra-class {
    @include background_color('background_color6');
  }

  table tr {
    @include background_color('background_color3');
  }

  table tr:nth-child(2n) {
    @include background_color('background_color6');
  }
}

// 多级评论回复样式
.comment-list > .comments > ol > .reply {
  margin-left: 0.933rem;
  @include background_color("background_color6");
  border-radius: .133rem;
  padding: 0.267rem;
}

.comment-list > .comments > ol {
  padding: 0.267rem 0;
}

.comment-list > .comments {
  @include border_bottom('border_color3')
}

.comment-list > .comments:last-child {
  border-bottom: none;
}

//评论框清除按钮
.van-field__clear {
  padding-right: 25px !important;
}

// 自定义遮罩样式
.my-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}
