@import "./transition.scss";
@import "./variable.scss";
@import "./vant.scss";
@import "./theme.scss";
body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

//markdown样式
.github-markdown-body blockquote {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
// markdown字体设置样式适配
.github-markdown-body{
  font-size: unset!important;
}

// 多级评论回复样式
.comment-list > .comments > ol > .reply {
  margin-left: 0.933rem;
  background-color: #f5f7fa;
  border-radius: .133rem;
  padding: 0.267rem;
}

.comment-list > .comments > ol {
  padding: 0.267rem 0;
}

.comment-list > .comments {
  border-bottom: 1px solid #fafafb;
}

.comment-list > .comments:last-child {
  border-bottom: none;
}

//评论框清除按钮
.van-field__clear {
  padding-right: 25px !important;
}
// 自定义遮罩样式
.my-overlay{
  background-color: rgba(0, 0, 0, 0.3);
}